<ion-view view-title="My Stocks">

  <ion-nav-buttons side="right">

    <button class="button button-clear" ng-click="modalService.openModal(1)">

      <i class="icon icon-small ion-ios-search">

      </i>
    </button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getMyStocksData()"
      class="margin-auto"
    ></ion-refresher>

    <ion-list>
      <ion-item ng-repeat="stock in myStocksData track by stock.symbol" ng-href="#/app/{{stock.symbol}}">
        <div class="row row-center">
          <div class="col">
            <h3>{{stock.symbol}}</h3>
            <h6 ng-bind-html="::stock.name">{{stock.name}}</h6>
          </div>
          <div class="col">
            <h3>{{stock.price}}</h3>
            <h6>{{stock.utctime}}</h6>
          </div>
          <div class="col">
            <h3>{{stock.chg_percent}}</h3>
            <h6>{{stock.change}}</h6>
          </div>
        </div>

        <ion-option-button class="button-light icon ion-minus-circled" ng-click="unfollowStock(stock.symbol)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
